@font-face {
  font-family: "heavitas";
  src: url("../fonts/Heavitas.ttf") format("opentype");
}
#navbarNav strong {
  color: rgb(13, 65, 156);
}
#navbarNav strong:hover {
  color: rgb(19, 96, 232);
}

.container05 {
  background: url("../images/humanFlight/01.jpg") no-repeat center/cover;
  background-size: cover;
  min-height: 100vh;
}
.container05 .info-container05 {
  height: 80vh;
  align-items: center;
  display: flex;
  justify-content: center;
  flex-direction: column;
}
.container05 .info-container05 h1 {
  font-family: "heavitas", sans-serif;
  font-size: 6rem;
}
.container05 .info-container05 p {
  max-width: 90%;
}

.titleSection {
  font-family: "heavitas", sans-serif;
  font-size: 3rem;
}

.DescSpaceX {
  align-items: center;
  display: flex;
  justify-content: center;
  flex-direction: row;
  background-color: rgb(0, 0, 0);
  padding: 8rem;
}

.info-container06,
.info-container08 {
  width: 50%;
}

.container06 {
  background: url("../images/humanFlight/02.jpg") no-repeat center/cover;
  background-size: cover;
  min-height: 100vh;
  align-items: start;
  display: flex;
  justify-content: end;
  flex-direction: row;
}

.container07 {
  background: url("../images/humanFlight/03.jpg") no-repeat center/cover;
  background-size: cover;
  min-height: 100vh;
  align-items: start;
  display: flex;
  justify-content: start;
  flex-direction: row;
}

.container08 {
  background: url("../images/humanFlight/04.jpg") no-repeat center/cover;
  background-size: cover;
  min-height: 100vh;
  align-items: start;
  display: flex;
  justify-content: end;
  flex-direction: row;
}

.container09 {
  background: url("../images/humanFlight/05.jpg") no-repeat center/cover;
  background-size: cover;
  min-height: 100vh;
  align-items: start;
  display: flex;
  justify-content: start;
  flex-direction: row;
}

.container10 {
  background-color: black;
  height: 60vh;
}
.container10 a {
  text-decoration: none;
}

@media (max-width: 500px) {
  .container11 {
    border: 2px solid green;
  }
  .container11 h1 {
    font-size: 2rem;
    border: 2px solid green;
  }
}
.container11 {
  background: url("../images/falcon9/01.jpg") no-repeat center/cover;
  background-size: cover;
  min-height: 100vh;
}
.container11 .info-container11 {
  align-items: center;
  display: flex;
  justify-content: center;
  flex-direction: column;
  height: 60vh;
}
.container11 .info-container11 h1 {
  font-family: "heavitas", sans-serif;
  font-size: 5rem;
}

.numbers {
  padding: 6rem;
  background-color: rgb(0, 0, 0);
}
.numbers h1 {
  font-size: 6rem;
}

.container12 {
  background: url("../images/falcon9/02.jpg") no-repeat center/cover;
  background-size: cover;
  min-height: 100vh;
}
.container12 .info-container12 {
  align-items: end;
  display: flex;
  justify-content: start;
  flex-direction: row;
  height: 60vh;
  font-size: 1.3rem;
}

.container13 {
  background-color: rgb(0, 0, 0);
}
.container13 .carousel1,
.container13 .carousel2,
.container13 .carousel3,
.container13 .carousel4,
.container13 .carousel5 {
  padding: 15rem 5rem;
}
.container13 .carousel1 h2,
.container13 .carousel2 h2,
.container13 .carousel3 h2,
.container13 .carousel4 h2,
.container13 .carousel5 h2 {
  font-family: "heavitas", sans-serif;
}
.container13 .carousel1 p,
.container13 .carousel2 p,
.container13 .carousel3 p,
.container13 .carousel4 p,
.container13 .carousel5 p {
  max-width: 30rem;
}
.container13 .carousel1 table,
.container13 .carousel2 table,
.container13 .carousel3 table,
.container13 .carousel4 table,
.container13 .carousel5 table {
  max-width: 30rem;
}
.container13 .carousel1 table td,
.container13 .carousel2 table td,
.container13 .carousel3 table td,
.container13 .carousel4 table td,
.container13 .carousel5 table td {
  color: white;
  background-color: rgba(0, 0, 0, 0);
}
.container13 .carousel1 {
  background: url("../images/falcon9/03.jpg") no-repeat center/cover;
  background-size: cover;
  min-height: 100vh;
  padding: 15rem 5rem;
}
.container13 .carousel2 {
  background: url("../images/falcon9/04.jpg") no-repeat center/cover;
  background-size: cover;
  min-height: 100vh;
}
.container13 .carousel3 {
  background: url("../images/falcon9/05.jpg") no-repeat center/cover;
  background-size: cover;
  min-height: 100vh;
}
.container13 .carousel4 {
  background: url("../images/falcon9/06.jpg") no-repeat center/cover;
  background-size: cover;
  min-height: 100vh;
}
.container13 .carousel5 {
  background: url("../images/falcon9/07.jpg") no-repeat center/cover;
  background-size: cover;
  min-height: 100vh;
}

.container14 {
  background: url("../images/falcon9/08.jpg") no-repeat center/cover;
  background-size: cover;
  min-height: 100vh;
  padding: 15rem 5rem;
}
.container14 h2 {
  font-family: "heavitas", sans-serif;
}
.container14 p {
  max-width: 30rem;
}
.container14 table {
  max-width: 30rem;
}
.container14 table td {
  color: white;
  background-color: rgba(0, 0, 0, 0);
}

.container15 .carousels p {
  background-color: black;
}
.container15 .carousels .coursel-01 {
  background: url("../images/falcon9/09.jpg") no-repeat center/cover;
  background-size: cover;
  min-height: 100vh;
}
.container15 .carousels .coursel-02 {
  background: url("../images/falcon9/10.jpg") no-repeat center/cover;
  background-size: cover;
  min-height: 100vh;
}
.container15 .carousels .coursel-03 {
  background: url("../images/falcon9/11.jpg") no-repeat center/cover;
  background-size: cover;
  min-height: 100vh;
}
.container15 .carousels .coursel-04 {
  background: url("../images/falcon9/12.jpg") no-repeat center/cover;
  background-size: cover;
  min-height: 100vh;
}
.container15 .carousels .coursel-05 {
  background: url("../images/falcon9/13.jpg") no-repeat center/cover;
  background-size: cover;
  min-height: 100vh;
}
.container15 .carousels .coursel-06 {
  background: url("../images/falcon9/14.jpg") no-repeat center/cover;
  background-size: cover;
  min-height: 100vh;
}

* {
  margin: 0;
  padding: 0;
  color: rgb(245, 245, 245);
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

.container01 {
  background: url("../images/01.jpg") no-repeat center/cover;
  background-size: cover;
  min-height: 100vh;
}

.container02 {
  background: url("../images/03.jpg") no-repeat center/cover;
  background-size: cover;
  min-height: 100vh;
}

.container03 {
  background: url("../images/02.gif") no-repeat center/cover;
  background-size: cover;
  min-height: 100vh;
}

.container04 {
  background: url("../images/04.jpg") no-repeat center/cover;
  background-size: cover;
  min-height: 100vh;
}

.info-container {
  padding-top: 10rem;
}
.info-container button {
  margin-top: 1.5rem;
  padding: 1rem 2rem;
  border: 2px solid;
}
.info-container p {
  max-width: 38rem;
}

footer {
  align-items: center;
  display: flex;
  justify-content: center;
  flex-direction: row;
  background: rgb(0, 0, 0);
  font-size: 0.8rem;
  padding: 5rem;
}
footer span {
  color: #b9b9b9;
}
footer a {
  color: rgb(245, 245, 245);
  text-decoration: none;
}
footer a:hover {
  color: #b9b9b9;
}

@media (max-width: 500px) {
  .container11 {
    border: 2px solid green;
  }
  .container11 h1 {
    font-size: 2rem;
    border: 2px solid green;
  }
}

/*# sourceMappingURL=style.css.map */
