* {
  margin: 0;
  padding: 0;
  color: white;
  font-family: Arial, Helvetica, sans-serif;
}

@font-face {
  font-family: "heavitas";
  src: url("../fonts/Heavitas.ttf") format("opentype");
}
#navbarNav strong {
  color: rgb(13, 65, 156);
}
#navbarNav strong:hover {
  color: rgb(19, 96, 232);
}

.container05 {
  background: url("../images/humanFlight/01.jpg") no-repeat center/cover;
  background-size: cover;
  min-height: 100vh;
}
.container05 .info-container05 {
  align-items: center;
  display: flex;
  justify-content: center;
  flex-direction: column;
}
.container05 .info-container05 h1 {
  font-family: "heavitas", sans-serif;
  font-size: 6rem;
}

.titleSection {
  font-family: "heavitas", sans-serif;
  font-size: 3rem;
}

.DescSpaceX {
  align-items: center;
  display: flex;
  justify-content: center;
  flex-direction: row;
  background-color: black;
  height: 15rem;
}
.DescSpaceX p {
  padding-inline: 4rem;
  font-size: 1.1rem;
}

.info-container06,
.info-container08 {
  width: 50%;
  padding-top: 13rem;
}

.container06 {
  background: url("../images/humanFlight/02.jpg") no-repeat center/cover;
  background-size: cover;
  min-height: 100vh;
  align-items: start;
  display: flex;
  justify-content: end;
  flex-direction: row;
}

.container07 {
  background: url("../images/humanFlight/03.jpg") no-repeat center/cover;
  background-size: cover;
  min-height: 100vh;
  align-items: start;
  display: flex;
  justify-content: start;
  flex-direction: row;
}

.container08 {
  background: url("../images/humanFlight/04.jpg") no-repeat center/cover;
  background-size: cover;
  min-height: 100vh;
  align-items: start;
  display: flex;
  justify-content: end;
  flex-direction: row;
}

.container09 {
  background: url("../images/humanFlight/05.jpg") no-repeat center/cover;
  background-size: cover;
  min-height: 100vh;
  align-items: start;
  display: flex;
  justify-content: start;
  flex-direction: row;
}

.container10 {
  background-color: black;
  height: 60vh;
}
.container10 a {
  text-decoration: none;
}

@media (max-width: 850px) {
  .info-container01 h1 {
    font-size: 5rem;
  }
}
@media (max-width: 545px) {
  .info-container01 h1 {
    font-size: 2.5rem;
  }
}
.container01 {
  background: url("../images/01.jpg") no-repeat center/cover;
  background-size: cover;
  min-height: 100vh;
}

.container02 {
  background: url("../images/03.jpg") no-repeat center/cover;
  background-size: cover;
  min-height: 100vh;
}

.container03 {
  background: url("../images/02.gif") no-repeat center/cover;
  background-size: cover;
  min-height: 100vh;
}

.container04 {
  background: url("../images/04.jpg") no-repeat center/cover;
  background-size: cover;
  min-height: 100vh;
}

.info-container {
  padding-top: 12rem;
}

footer {
  align-items: center;
  display: flex;
  justify-content: center;
  flex-direction: row;
  background: black;
  font-size: 0.7rem;
  padding: 5rem;
}
footer:hover {
  color: #b9b9b9;
}
footer span {
  color: grey;
}
footer a {
  color: white;
  text-decoration: none;
}
footer a:hover {
  color: #b9b9b9;
}

/*# sourceMappingURL=style.css.map */
