
.container11{
  @include background ("../images/falcon9/01.jpg",cover,100vh);
  .info-container11{
    @include alignment(center, flex, center, column);
    height: 60vh;
    h1{
      font-family: $font-heavitas;
      font-size: 5rem;
    }
  }
}
.numbers{
  padding: 8rem;
  background-color: $color-secundary;
  
  h1{
    font-size: 5rem;
  }
}
.container12{
  @include background("../images/falcon9/02.jpg",cover,100vh);
  
  .info-container12{
    @include alignment(end, flex, start, row);
    height: 60vh;
    font-size: 1.2rem;
  }
}
.container13{
  background-color: $color-secundary;

  .carousel1,
  .carousel2,
  .carousel3,
  .carousel4,
  .carousel5{
    padding: 12rem 0rem;
    h2{
      font-family: $font-heavitas;
    }
    p,
    table{
      max-width: 30rem;
      td{
        color:$color-primary;
        background-color: rgba(0, 0, 0, 0);
       }
    
    }
  }
  .carousel1{
    @include background("../images/falcon9/03.jpg",cover,100vh);
    padding: 15rem 5rem; // ajustar na hora do media query
  }
  .carousel2{
    @include background("../images/falcon9/04.jpg",cover,100vh);
  }
  .carousel3{
    @include background("../images/falcon9/05.jpg",cover,100vh);
    
  }
  .carousel4{
    @include background("../images/falcon9/06.jpg",cover,100vh);
    
  }
  .carousel5{
    @include background("../images/falcon9/07.jpg",cover,100vh);
  }
}
.container14{
  @include background("../images/falcon9/08.jpg",cover,100vh);
    padding: 15rem 5rem;
    
    h2{
      font-family: $font-heavitas;
    }
    p,
    table{
      max-width: 30rem;
      td{
        color:$color-primary;
        background-color: rgba(0, 0, 0, 0)
       }
    
    }
}
.container15{
  .carousels{
    p{
      background-color: $color-secundary;
    }

    .coursel-01{
      @include background("../images/falcon9/09.jpg",cover,100vh);
    }
    .coursel-02{
      @include background("../images/falcon9/10.jpg",cover,100vh);
    }
    .coursel-03{
      @include background("../images/falcon9/11.jpg",cover,100vh);
    }
    .coursel-04{
      @include background("../images/falcon9/12.jpg",cover,100vh);
    }
    .coursel-05{
      @include background("../images/falcon9/13.jpg",cover,100vh);
    }
    .coursel-06{
      @include background("../images/falcon9/14.jpg",cover,100vh);
    }


  }
}

