@media (max-width: 850px){
}

@media (max-width: 500px){
  body{
    border: 2px solid red;

    .containar11{
      .title-falcon9 h1{
        border: 2px solid red;
        font-size: 0.3rem;
        }
  
    }





  }
}

