$color-primary: rgb(245, 245, 245);
$color-secundary: rgb(0, 0, 0);
$color-tertiary:#b9b9b9;




$font-family: 'heavitas', sans-serif;




@import "./mixin&fonts.scss";
@import "./stylepage3.scss";
@import "./stylepage2.scss";


*{
  margin: 0;
  padding: 0;
  color: $color-primary;
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}


.container01{
  @include background("../images/01.jpg",cover, 100vh);
}
.container02{
  @include background("../images/03.jpg", cover, 100vh);
}
.container03{
  @include background("../images/02.gif", cover, 100vh);
}
.container04{
  @include background("../images/04.jpg", cover, 100vh);
}

.info-container{
  padding-top: 10rem;

  button{
    margin-top: 1.5rem;
    padding: 1rem 2rem;
    border: 2px solid;
  }
  p{
    max-width: 38rem;
  }
}

footer{
  @include alignment(center, flex, center, row);
  background: $color-secundary;
  font-size: 0.8rem;
  padding: 5rem;
  span{
    color: $color-tertiary;
  }
  a{
    color: $color-primary;
    text-decoration: none;

    &:hover{
      color: $color-tertiary;
    }
  }
}
@import "./medias.scss";