@import "./stylepage2.scss";

#navbarNav strong{
  color: rgb(13, 65, 156);

  &:hover{
    color: rgb(19, 96, 232);
  }
}
.container05{
  @include background ("../images/humanFlight/01.jpg", cover, 100vh);
  .info-container05{
    height: 80vh;
    @include alignment(center, flex, center, column);
    h1{
      font-family: $font-family;
      font-size: 6rem;
    }
  }
}

.titleSection{
  font-family: $font-family;
  font-size: 3rem;
}

.DescSpaceX{
  @include alignment(center, flex, center, row);
  background-color: black;
  height: 15rem;
 
  p{
    font-size: 1.1rem;
  }
}

.info-container06,
.info-container08{
  width: 50%;
  padding-top: 13rem;
}

.container06{
  @include background ("../images/humanFlight/02.jpg",cover,100vh);
  @include alignment(start, flex, end, row);
}

.container07{
  @include background ("../images/humanFlight/03.jpg",cover,100vh);
  @include alignment(start, flex, start, row);
}

.container08{
  @include background ("../images/humanFlight/04.jpg",cover,100vh);
  @include alignment(start, flex, end, row);
}

.container09{
  @include background ("../images/humanFlight/05.jpg",cover,100vh);
  @include alignment(start, flex, start, row);
}

.container10{
  background-color: black;
  height: 60vh;
  a{
    text-decoration: none;
  }
}


@import "./medias.scss";